<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Следи пратки во Македонија</title>

    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/google_icon_font.css">
    <!--<link rel="stylesheet" type="text/css" href="../css/materialize.min.css">-->
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
</head>

<body>

    <div id="app">

        <!-- NAVBAR -->
        <div class="row">
            <ul class="tabs z-depth-2 tabs-fixed-width z-index-hight" id="tabs">
                <li class="tab col s4"><a href="#activeView">Активни</a></li>
                <li class="tab col s4"><a href="#archivedView">Архива</a></li>
                <li class="tab col s4"><a href="#optionsView">Подесување</a></li>
            </ul>
        </div>

        <!-- CONTENT -->
        <div class="row views">

            <!-- ACTIVE VIEW -->
            <div id="activeView" class="col s12">

                <div class="no-packages" v-show="!activePackages.length">
                    НЕМА АКТИВНИ ПРАТКИ
                </div>

                <ul class="collapsible" id="activeCollapsible" v-show="activePackages.length">
                    <li v-for="(activePackage, index) in activePackages">
                        <div class="collapsible-header waves-effect waves-dark" v-on:click="removeNotifications(index)">
                            <div class="col s1-5-new">
                                <i class="material-icons">{{activePackage.status}}</i>
                            </div>
                            <div class="col middle-allign" v-bind:class="[ activePackage.notifications ? 's9-new' : 's10-5-new' ]">
                                <p class="collapsible-header-text">{{activePackage.packageDescription.length ?
                                    activePackage.packageDescription : activePackage.trackingNumber}}</p>
                            </div>
                            <div class="col s1-5-new right-align badge-padding" v-show="activePackage.notifications">
                                <span class="my-badge">{{activePackage.notifications}}</span>
                            </div>
                        </div>
                        <div class="collapsible-body collapsible-body-padding">

                            <div class="package-description">
                                <p class="collapsible-desc">Број на пратка: <span class="bold-desc">{{activePackage.trackingNumber}}</span></p>
                                <p class="collapsible-desc">Опис на пратка: <span class="bold-desc">{{activePackage.packageDescription.length
                                        ? activePackage.packageDescription : "/"}}</span></p>
                                <p class="collapsible-desc">Обновена: <span class="bold-desc">{{activePackage.lastRefresh}}</span></p>
                            </div>

                            <div class="package-actions right">
                                <a class="waves-effect waves-light btn my-yellow-button" v-on:click="saveActiveStateEditModal(index)">
                                    <i class="material-icons">edit</i></a>
                                <a class="waves-effect waves-light btn my-yellow-button" v-on:click="saveActiveStateMoveModal(index)"
                                    v-bind:class="{ disabled: disableNewArchive }">
                                    <i class="material-icons">archive</i></a>
                                <a class="waves-effect waves-light btn my-yellow-button" v-on:click="saveActiveStateDeleteModal(index)">
                                    <i class="material-icons">delete_forever</i></a>
                            </div>

                            <div class="package-tracking-data">
                                <ul>
                                    <li class="tracking-data-list" v-for="packageTrackingData in activePackage.trackingData">
                                        <div><i class="material-icons tracking-data-icon-size">access_time</i>
                                            {{ packageTrackingData.date }}</div>
                                        <div><i class="material-icons tracking-data-icon-size">location_on</i>
                                            {{ packageTrackingData.begining }}
                                            <i class="material-icons tracking-data-icon-size" v-show="packageTrackingData.end">arrow_forward</i>
                                            {{ packageTrackingData.end }} </div>
                                        <div><i class="material-icons tracking-data-icon-size">notes</i>
                                            {{ packageTrackingData.notice }}</div>
                                    </li>
                                    <li class="no-tracking-data-list" v-if="!activePackage.trackingData.length">
                                        <div> Не се пронајдени податоци </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                </ul>

                <div id="floatingButton" class="fixed-action-btn">
                    <a class="btn-floating my-red">
                        <i class="large material-icons">menu</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating waves-effect waves-light btn-small my-red" v-on:click="openAddModal"
                                v-bind:class="{ disabled: disableNewActive }">
                                <i class="material-icons floating-button-icon">add</i></a></li>
                        <li><a class="btn-floating waves-effect waves-light btn-small my-red" v-on:click="openRefreshModal"
                                v-bind:class="{ disabled: disableRefreshing }">
                                <i class="material-icons floating-button-icon">refresh</i></a></li>
                    </ul>
                </div>

            </div>
            <!-- ACTIVE VIEW -->

            <!-- ARCHIVED VIEW -->
            <div id="archivedView" class="col s12">

                <div class="no-packages" v-show="!archivePackages.length">
                    НЕМА АРХИВИРАНИ ПРАТКИ
                </div>

                <ul class="collapsible" id="archiveCollapsible" v-show="archivePackages.length">
                    <li v-for="(archivePackage, index) in archivePackages">
                        <div class="collapsible-header waves-effect waves-dark">
                            <div class="col s1-5-new">
                                <i class="material-icons">{{archivePackage.status}}</i>
                            </div>
                            <div class="col s10-5-new middle-allign">
                                <p class="collapsible-header-text">{{archivePackage.packageDescription.length ?
                                    archivePackage.packageDescription : archivePackage.trackingNumber}}</p>
                            </div>
                        </div>
                        <div class="collapsible-body collapsible-body-padding">

                            <div class="package-description">
                                <p class="collapsible-desc">Број на пратка: <span class="bold-desc">{{archivePackage.trackingNumber}}</span></p>
                                <p class="collapsible-desc">Опис на пратка: <span class="bold-desc">{{archivePackage.packageDescription.length
                                        ? archivePackage.packageDescription : "/"}}</span></p>
                                <p class="collapsible-desc">Обновена: <span class="bold-desc">{{archivePackage.lastRefresh}}</span></p>
                            </div>

                            <div class="package-actions right">
                                <a class="waves-effect waves-light btn my-yellow-button" v-on:click="saveArchiveStateEditModal(index)">
                                    <i class="material-icons">edit</i></a>
                                <a class="waves-effect waves-light btn my-yellow-button" v-on:click="saveArchiveStateMoveModal(index)"
                                    v-bind:class="{ disabled: disableNewActive }">
                                    <i class="material-icons">unarchive</i></a>
                                <a class="waves-effect waves-light btn my-yellow-button" v-on:click="saveArchiveStateDeleteModal(index)">
                                    <i class="material-icons">delete_forever</i></a>
                            </div>

                            <div class="package-tracking-data">
                                <ul>
                                    <li class="tracking-data-list" v-for="packageTrackingData in archivePackage.trackingData">
                                        <div><i class="material-icons tracking-data-icon-size">access_time</i>
                                            {{ packageTrackingData.date }}</div>
                                        <div><i class="material-icons tracking-data-icon-size">location_on</i>
                                            {{ packageTrackingData.begining }}
                                            <i class="material-icons tracking-data-icon-size" v-show="packageTrackingData.end">arrow_forward</i>
                                            {{ packageTrackingData.end }} </div>
                                        <div><i class="material-icons tracking-data-icon-size">notes</i>
                                            {{ packageTrackingData.notice }}</div>
                                    </li>
                                    <li class="no-tracking-data-list" v-if="!archivePackage.trackingData.length">
                                        <div> Не се пронајдени податоци </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                </ul>

            </div>
            <!-- ARCHIVED VIEW -->

            <!-- SETTINGS VIEW -->
            <div id="optionsView" class="col s12">

                <div class="row settings-view">

                    <div class="col s8 settings-text settings-margin">
                        Автоматско обновување
                    </div>
                    <div class="col s4 settings-margin">
                        <div class="switch">
                            <label>
                                <input type="checkbox" v-model="settings.autoRefresh">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>

                    <div class="col s8 settings-text settings-margin settings-interval">
                        Интервал на обновување:
                    </div>
                    <div class="input-field col s4 settings-margin">
                        <select id="refreshInterval" v-model="settings.refreshInterval">
                            <option value="1">1 час</option>
                            <option value="2">2 часа</option>
                            <option value="4">4 часа</option>
                            <option value="6">6 часа</option>
                            <option value="12">12 часа</option>
                            <option value="24">24 часа</option>
                        </select>
                    </div>

                    <div class="col s8 settings-text settings-margin">
                        Нотификации
                    </div>
                    <div class="col s4 settings-margin">
                        <div class="switch">
                            <label>
                                <input type="checkbox" v-model="settings.enableNotifications">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>

                    <div class="col s9 settings-text settings-margin">
                        Максимум активни пратки:
                    </div>
                    <div class="col s3 settings-num">
                        {{ settings.maxActivePackages }}
                    </div>

                    <div class="col s9 settings-text settings-margin">
                        Максимум архвирани пратки:
                    </div>
                    <div class="col s3 settings-num">
                        {{ settings.maxArchivePackages }}
                    </div>

                    <div class="col s12 settings-desc settings-margin">
                        <p>Направено од <a class="settings-url" href="https://www.linkedin.com/in/mtrajk/" target="_blank">Мето
                                Трајковски</a></p>
                        <p>Користејќи го сервисот за следење пратки од <a class="settings-url" href="https://www.posta.com.mk"
                                target="_blank">www.posta.com.mk</a></p>
                    </div>

                </div>


            </div>
            <!-- SETTINGS VIEW -->

        </div>

        <!-- FOOTER -->
        <div class="row my-footer z-index-hight">
            <div class="col s5">
                <span class="name-text">Следи Пратки</span>
            </div>
            <div class="col s2 center-align">
                <img class="footer-logo" src="../img/logo.svg">
            </div>
            <div class="col s5 right-align">
                <a class="post-url" href="https://www.posta.com.mk/" target="_blank">www.posta.com.mk</a>
            </div>
        </div>

        <!-- MAIN SPINNER -->
        <div id="main_spinner" class="spinner-overlay">
            <img class="main-spinner-logo" src="../img/logo.svg">
            <div class="preloader-wrapper active main-spinner">
                <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MAIN SPINNER -->

        <!-- MODALS -->
        <!-- ADD PACKAGE MODAL -->
        <div id="addModal" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="add-text">Додади нова пратка</div>
                <div class="input-field">
                    <input id="tracking_number" type="text" v-model="addNewPackage.trackingNumber" maxlength="20">
                    <label id="tracking_number_label" class="active" for="tracking_number">Број на пратка</label>
                </div>
                <div class="input-field">
                    <input id="package_description" type="text" v-model="addNewPackage.packageDescription" maxlength="50">
                    <label id="package_description_label" class="active" for="package_description">Опис на пратка
                        (опционално)</label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-dark btn-flat">Откажи</a>
                <a class="waves-effect waves-dark btn-flat" v-on:click="addNewActivePackage" v-bind:class="{ disabled: disableAdding }">Додади</a>
            </div>

            <!-- ADD SPINNER -->

            <div id="add_spinner" class="spinner-overlay">
                <div class="preloader-wrapper active add-spinner">
                    <div class="spinner-layer spinner-yellow-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ADD SPINNER -->

        </div>
        <!-- ADD PACKAGE MODAL -->
        <!-- REFRESH PACKAGES MODAL -->
        <div id="refreshModal" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="add-text">Обнови ги податоците за пратките</div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-dark btn-flat">Откажи</a>
                <a class="waves-effect waves-dark btn-flat" v-on:click="refreshPackages">Обнови</a>
            </div>

            <!-- REFRESH SPINNER -->

            <div id="refresh_spinner" class="spinner-overlay">
                <div class="preloader-wrapper active add-spinner">
                    <div class="spinner-layer spinner-yellow-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- REFRESH SPINNER -->

        </div>
        <!-- REFRESH PACKAGES MODAL -->
        <!-- EDIT PACKAGE MODAL -->
        <div id="editModal" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="add-text">Измени го описот на пратката: {{packageState.trackingNumber}}</div>
                <div class="input-field">
                    <input id="edit_package_description" type="text" v-model="packageState.packageDescription"
                        maxlength="50">
                    <label id="edit_package_description_label" class="active" for="edit_package_description">Опис на
                        пратка</label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-dark btn-flat">Откажи</a>
                <a class="waves-effect waves-dark btn-flat" v-on:click="editPackageFromState" v-bind:class="{ disabled: disableEditing }">Измени</a>
            </div>
        </div>
        <!-- EDIT PACKAGE MODAL -->
        <!-- ACTION PACKAGE MODAL -->
        <div id="actionModal" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="add-text">{{actionModalText}} ја пратката: {{packageState.trackingNumber}}</div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-dark btn-flat">Откажи</a>
                <a class="waves-effect waves-dark btn-flat" v-on:click="updateFromState">{{actionModalText}}</a>
            </div>
        </div>
        <!-- ACTION PACKAGE MODAL -->

    </div>

    <!--<script src="../js/materialize.min.js"></script>-->
    <script src="../js/materialize.js"></script> <!-- Delete this, this is only for debugging -->
    <script src="../js/axios.min.js"></script>
    <script src="../js/common.js"></script>
    <!--<script src="../js/vue.min.js"></script>-->
    <script src="../js/vue.js"></script> <!-- Delete this, this is only for debugging -->
    <script src="../js/popup.js"></script>
</body>

</html>