<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Следи пратки во Македонија</title>

    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/google_icon_font.css">
    <!--<link rel="stylesheet" type="text/css" href="../css/materialize.min.css">-->
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
</head>

<body>

    <div id="app">

        <!-- NAVBAR -->
        <div class="row">
            <ul class="tabs z-depth-2 tabs-fixed-width" id="tabs">
                <li class="tab col s4"><a href="#activeView">Активни</a></li>
                <li class="tab col s4"><a href="#archivedView">Архива</a></li>
                <li class="tab col s4"><a href="#optionsView">Подесување</a></li>
            </ul>
        </div>

        <!-- CONTENT -->
        <div class="row views">

            <!-- ACTIVE VIEW -->
            <div id="activeView" class="col s12">

                <ul class="collapsible" id="activeCollapsible">
                    <li v-for="(activePackage, index) in activePackages">
                        <div class="collapsible-header waves-effect waves-dark">
                            <div class="col s1-5">
                                <i class="material-icons">{{activePackage.status}}</i>
                            </div>
                            <div class="col s9-new middle-allign">
                                <p class="collapsible-header-text">{{activePackage.trackingNumber}}</p>
                            </div>
                            <div class="col s1-5 right-align badge-padding">
                                <span class="my-badge">{{activePackage.notifications}}</span>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <span>{{activePackage.packageDescription}}</span>
                            <a class="waves-effect waves-light btn-small" v-on:click="deleteActivePackage(index)">Избриши</a>
                            <a class="waves-effect waves-light btn-small" v-on:click="archiveActivePackage(index)">Архивирај</a>
                        </div>
                    </li>
                </ul>

                <div id="floatingButton" class="fixed-action-btn">
                    <a class="btn-floating my-red">
                        <i class="large material-icons">menu</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating waves-effect waves-light btn-small my-red modal-trigger" data-target="addModal"><i
                                    class="material-icons">add</i></a></li>
                        <li><a class="btn-floating waves-effect waves-light btn-small my-red"><i class="material-icons">refresh</i></a></li>
                    </ul>
                </div>

            </div>
            <!-- ACTIVE VIEW -->

            <!-- ARCHIVED VIEW -->
            <div id="archivedView" class="col s12">

                <ul class="collapsible" id="archiveCollapsible">
                    <li v-for="(archivePackage, index) in archivePackages">
                        <div class="collapsible-header waves-effect waves-dark">
                            <div class="col s1-5">
                                <i class="material-icons">{{archivePackage.status}}</i>
                            </div>
                            <div class="col s9-new middle-allign">
                                <p class="collapsible-header-text">{{archivePackage.trackingNumber}}</p>
                            </div>
                            <div class="col s1-5 right-align badge-padding">
                                <span class="my-badge">{{archivePackage.notifications}}</span>
                            </div>
                        </div>
                        <div class="collapsible-body"><span>{{archivePackage.packageDescription}}</span>
                            <a class="waves-effect waves-light btn-small" v-on:click="deleteArchivePackage(index)">Избриши</a>
                            <a class="waves-effect waves-light btn-small" v-on:click="activeArchivePackage(index)">Активирај</a>
                        </div>
                    </li>
                </ul>

            </div>
            <!-- ARCHIVED VIEW -->

            <!-- SETTINGS VIEW -->
            <div id="optionsView" class="col s12">

                <div class="row">

                    <div class="col s8">
                        <p>Автоматско обнувување</p>
                    </div>
                    <div class="col s4">
                        <div class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>

                    <div class="col s7">
                        <p>Интервал на обновување:</p>
                    </div>
                    <div class="input-field col s5">
                        <select id="refreshInterval">
                            <option value="1" selected>1 час</option>
                            <option value="2">2 часа</option>
                            <option value="4">4 часа</option>
                            <option value="6">6 часа</option>
                            <option value="12">12 часа</option>
                            <option value="24">24 часа</option>
                        </select>
                    </div>

                    <div class="col s8">
                        <p>Нотификации</p>
                    </div>
                    <div class="col s4">
                        <div class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>

                    <div class="col s9">
                        <p>Максимален број на активни пратки:</p>
                    </div>
                    <div class="col s3">
                        <span>20</span>
                    </div>

                    <div class="col s9">
                        <p>Максимален број на архвирани пратки:</p>
                    </div>
                    <div class="col s3">
                        <span>15</span>
                    </div>

                    <div class="col s12">
                        <p>Направено од <a>Мето Трајковски</a></p>
                        <p>Користејќи го сервисот за следење на пратки од <a>www.posta.com.mk</a></p>
                    </div>

                </div>


            </div>
            <!-- SETTINGS VIEW -->

        </div>

        <!-- FOOTER -->
        <div class="row my-footer">
            <div class="col s5">
                <span class="name-text">Следи Пратки</span>
            </div>
            <div class="col s2 center-align">
                <img class="footer-logo" src="../img/logo.svg">
            </div>
            <div class="col s5 right-align">
                <a class="post-url" href="https://www.posta.com.mk/" target="_blank">www.posta.com.mk</a>
            </div>
        </div>

        <!-- MODALS -->
        <!-- ADD PACKAGE MODAL -->
        <div id="addModal" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="add-text">Додади нова пратка</div>
                <div class="input-field">
                    <input id="tracking_number" type="text" class="validate" v-model="trackingNumber">
                    <label id="tracking_number_label" class="active" for="tracking_number">Број на пратка</label>
                </div>
                <div class="input-field">
                    <input id="package_description" type="text" class="validate" v-model="packageDescription">
                    <label id="package_description_label" class="active" for="package_description">Опис на пратка</label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat" v-on:click="addNewActivePackage">Додади</a>
            </div>
        </div>
        <!-- ADD PACKAGE MODAL -->
    </div>

    <!--<script src="../js/materialize.min.js"></script>-->
    <script src="../js/materialize.js"></script> <!-- Delete this, this is only for debugging -->
    <script src="../js/axios.min.js"></script>
    <script src="../js/common.js"></script>
    <!--<script src="../js/vue.min.js"></script>-->
    <script src="../js/vue.js"></script> <!-- Delete this, this is only for debugging -->
    <script src="../js/popup.js"></script>
</body>

</html>